# Yuki Isomura

## Relavance of Ratio of Remote Working and Workers' Independent Working Skills based on Salary Data  

Due to the global pandemic, the benefit of remote working is recognized. However, recent research implies that successive rate and productivity with remote working depends on the skills of individual workers. In this research project, I am going to analyze the ratio of remote working, workers' level of skills, area of profession, company size, and their location and compare them by salary based on the assumption that more salary means better success in their jobs. In general, salary is not an absolute criteria of success. But as there are a limited number of criteria in this dataset, I state the salary as a clear criteria of success in their jobs.

In [18]:
#load file
import pandas as pd

df = pd.read_csv('../data/raw/ds_salaries.csv', header=1)
df = df.drop(columns='Unnamed: 0')

df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L